<%= render 'dashnav' %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="latoblack">Events <span class="pull-right btn btn-orange" data-toggle="modal" data-target="#eventModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% if @events.present? %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Date</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<% for event in @events %>
					<tr>
						<td><p class="latolight"><%= event.title %></p></td>
						<td><p class="latolight"><%= event.date %></p></td>
						<td>
							<p class="latolight text-right">
								<%= link_to "Edit", edit_event_path(event) %> | 
								<%= link_to "Delete", event, method: :delete %>
							</p>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<% else %>
				<h3 class="latolight">No events scheduled. <%= link_to "Create one", "", { "data-toggle" => "modal", "data-target" => "#eventModal" } %>.</h3>
			<% end %>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for Event.new do |f| %>
				<div class="form-group">
					<label class="sr-only">Title</label>
					<%= f.text_field :title, class: "form-control", placeholder: "Event Title" %>
				</div>
				<div class="form-group" id="date_picker">
					<label class="sr-only">Date</label>
					<%= f.text_field :date, class: "form-control", placeholder: "Event Date" %>
				</div>
				<div class="form-group">
					<label class="sr-only">Description</label>
					<%= f.text_area :description, class: "form-control redactor" %>
				</div>
				<%= f.submit "Create Event", class: "btn btn-orange" %>
			<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



			
	