<%= render 'dashnav' %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="latoblack underline">Events <span class="pull-right btn btn-orange" data-toggle="modal" data-target="#eventModal"><span class="glyphicon glyphicon-plus latoblack" aria-hidden="true"></span></span></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% if @events.present? %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Date(s)</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<% for event in @events %>
					<tr>
						<td><p class="latobold"><%= event.title %></p></td>

						<td>

							<% if event.end_date.blank? %>
              <p class="latobold"><%= event.start_date.strftime('%B %-d') %></p>
              <% elsif event.end_date.present? && event.start_date.strftime('%B') === event.end_date.strftime('%B') %>
              <p class="latobold"><%= event.start_date.strftime('%B %-d') %> - <%= event.end_date.strftime('%-d') %></p>
              <% elsif event.end_date.present? && event.start_date.strftime('%B') != event.end_date.strftime('%B') %>
              <p class="latobold"><%= event.start_date.strftime('%B %-d') %> - <%= event.end_date.strftime('%B %-d') %></p>
            <% end %>
						</td>

						<td>
							<p class="latobold text-right">
								<%= link_to "Edit", dashboard_edit_event_path(event) %> |
								<%= link_to "Delete", event, method: :delete %>
							</p>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<% else %>
				<h3 class="latolight">No events scheduled. <a href="" class="orange-link" data-toggle="modal" data-target="#eventModal">Create One</a>.</h3>
			<% end %>
		</div>
	</div>



<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latolight" id="myModalLabel">Create New Event</h3>
      </div>
      <div class="modal-body">
        <%= form_for Event.new do |f| %>
				<div class="form-group">
					<label class="sr-only">Title</label>
					<%= f.text_field :title, class: "form-control latolight", placeholder: "Event Title" %>
				</div>
				<div class="form-group" id="date_picker">
					<label class="sr-only">Date</label>
					<%= f.text_field :start_date, class: "form-control latolight", placeholder: "Event Start Date" %>
				</div>
				<div class="form-group" id="date_picker2">
					<label class="sr-only">Date</label>
					<%= f.text_field :end_date, class: "form-control latolight", placeholder: "Event End Date" %>
				</div>
				<div class="form-group">
					<label class="sr-only">Description</label>
					<%= f.text_area :description, class: "form-control redactor" %>
				</div>
				<%= f.submit "Create Event", class: "btn btn-orange" %>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<% end %>
      </div>
      <!--<div class="modal-footer">

        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
