<%= render 'dashnav' %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="latoblack underline">Announcements <span class="pull-right btn btn-orange" data-toggle="modal" data-target="#postModal"><span class="glyphicon glyphicon-plus latobold" aria-hidden="true"></span></span></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% if @posts.present? %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Publish Date</th>
						<th>End Date</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<% for post in @posts %>
					<tr>
						<td><p class="latobold"><%= post.title %></p></td>
						<td><p class="latobold"><%= post.pub_date.strftime('%B %-d, %Y') %></p></td>
						<td><p class="latobold"><% unless post.end_date.blank? %><%= post.end_date.strftime('%B %-d, %Y') %><% end %></p></td>
						<td>
							<p class="latobold text-right">
								<%= link_to "Edit", dashboard_edit_post_path(post) %> |
								<%= link_to "Delete", post, method: :delete %>
							</p>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<% else %>
				<h3 class="latolight">No announcements published. <a href="" class="orange-link" data-toggle="modal" data-target="#postModal">Create One</a>.</h3>
			<% end %>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latolight" id="myModalLabel">Create New Event</h3>
      </div>
      <div class="modal-body">
        <%= form_for Post.new do |f| %>
				<div class="form-group">
					<label class="sr-only">Title</label>
					<%= f.text_field :title, class: "form-control latolight", placeholder: "Post Title" %>
				</div>
				<div class="form-group" id="date_picker">
					<label class="sr-only">Publish On Date</label>
					<%= f.text_field :pub_date, class: "form-control latolight", placeholder: "Publish On Date" %>
				</div>
				<div class="form-group" id="date_picker2">
					<label class="sr-only">End Date</label>
					<%= f.text_field :end_date, class: "form-control latolight", placeholder: "Event End Date" %>
				</div>
				<div class="form-group">
					<label class="sr-only">Body</label>
					<%= f.text_area :body, class: "form-control redactor" %>
				</div>
				<%= f.submit "Create Post", class: "btn btn-orange" %>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<% end %>
      </div>
      <!--<div class="modal-footer">

        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
