<%= render 'partials/main_nav' %>
<div class="moto-container" id="home">
	<p class="text-center"><%= image_tag "moto2.jpg", class: "moto-img" %></p>
</div>

<div class="slogan-container">
	<div class="row">
		<div class="col-md-12">
			<p>Reaching the lost for Christ one ride at a time.</p>
		</div>
	</div>
</div>

<div class="about-container" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h2 class="text-center latolight">About</h2>
				<p class="text-center latolight">We are men and women from different walks of life who have come together to fellowship in the love of Christ, while enjoying the lives He gave us.  We are not any particular church or denomination.  We are people who have crossed these boundaries to worship Jesus with our brothers and sisters of faith.</p>
				<p class="text-center latolight">We believe that Jesus Christ is the ONLY Son of God, was born of a virgin, lived a sinless life, died on the cross for the sins of man, rose on the third day and now sits at the right hand of God and intercedes for all who call on His name.</p>
				<p class="text-center latolight">We believe the Bible is the inspired Word of God, written by men as lead by the Holy Spirit. As the Bible says, that there is no other name given whereby men can be saved (Acts 4:12).</p>
				<p class="text-center latolight">We believe in all the gifts of the Holy Spirit and that they are available to all who seek God with a heart of repentance. There is no test, no fee or program to receive His forgiveness and salvation.  It is a free gift given by God through His Son, Jesus Christ (Romans 6:23).</p>
				<p class="text-center latolight">If you don’t know Him as your Lord and Savior, and would like to - it’s just a prayer away. If you would like to learn more about this ministry, or you are in need of prayer, please contact us.</p>
			</div>
		</div>
	</div>
</div>

<div class="events-container" id="events">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="row">
					<div class="col-md-6">
						<h2 class="text-center latolight">Upcoming Events</h2>
						<% if @upcoming_events.blank? %>
						<h3 class="latoregular text-center gray">Currently no events posted.</h3>
						<% end %>
						<% for event in @upcoming_events %>
							<h3 class="text-center latoregular event-title"><%= link_to event.title, event, class: "orange-link" %></h3>


        		<% if event.end_date.blank? %>
              <p class="text-center event-date latoregular"><%= event.start_date.strftime('%B %-d') %></p>
              <% elsif event.end_date.present? && event.start_date.strftime('%B') === event.end_date.strftime('%B') %>
              <p class="text-center event-date latoregular"><%= event.start_date.strftime('%B %-d') %> - <%= event.end_date.strftime('%-d') %></p>
              <% elsif event.end_date.present? && event.start_date.strftime('%B') != event.end_date.strftime('%B') %>
              <p class="text-center event-date latoregular"><%= event.start_date.strftime('%B %-d') %> - <%= event.end_date.strftime('%B %-d') %></p>
        		<% end %>
        		<!--<p class="text-center"><a href="#" class="btn btn-orange btn-xs">View Details</a></p>-->
					<% end %>
					</div>
					<div class="col-md-6">
						<h2 class="text-center latolight">Announcements</h2>
						<% if @posts.blank? %>
						<h3 class="latoregular text-center gray">Currently no announcements.</h3>
						<% end %>
						<% for post in @posts %>
							<h3 class="text-center latoregular event-title"><%= link_to post.title, post, class: "orange-link" %></h3>
        			<p class="text-center latoregular event-date">Posted on <%= post.pub_date.strftime('%B %-d, %Y') %></p>

					<% end %>
					</div>
					</div>
				</div>




			</div>
		</div>
	</div>
</div>

<div class="prayer-container" id="prayer">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h2 class="text-center latolight white">Prayer Request</h2>

			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<p class="text-center white form-text">Only the ministerial staff has access to read these.  Your request will always remain confidential.  If you would like us to contact you please let us know what form of correspondence you would prefer.</p>
				<%= form_for Prayer.new do |f| %>
					<div class="form-group">
						<label>Full Name</label>
						<%= f.text_field :full_name, class: "form-control-p" %>
					</div>
					<div class="form-group">
						<label>Email</label>
						<%= f.text_field :email, class: "form-control-p" %>
					</div>
					<div class="form-group">
						<label>Phone</label>
						<%= f.text_field :phone, class: "form-control-p" %>
					</div>
					<div class="form-group">
						<label>Prayer Request</label>
						<%= f.text_area :prayer_request, class: "form-control-p", rows: '8' %>
					</div>
					<%= f.submit "Submit Prayer Request", class: "btn btn-blue" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="contact-container" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center latolight white">Contact</h2>
				<p class="text-center latolight">970-255-0332 | chariots4christ@hotmail.com</p>
			</div>
		</div>
	</div>
</div>

<div class="footer-container">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="latolight">&copy; Chariots for Christ, Grand Junction, CO</p>
			</div>
			<div class="col-md-6">
				<p class="text-right latolight">Site Development & Design by <a href="http://bigmooncreative.com" target="_blank">Big&nbsp;Moon&nbsp;Creative</a></p>
			</div>
		</div>
	</div>
</div>
